<div class="gavias-skins-panel hidden-xs hidden-sm">
	<div class="control-panel"><i class="fas fa-eye-dropper"></i></div>
	<div class="gavias-skins-panel-inner">
	   {% include  theme_path ~ '/customize/customize_form.html.twig' %}
	</div>   
</div>


