<div class="col-sm-12 doctor-card">
    <div class="doctor-profile row" >  
     <h3>{{ title }}</h3>
     <div class="col-md-3">{{ field_doctor_profile_pic }}</div>
     <div class="col-md-3">    {{ field_doctor_specialty }}    </div>

    <div>
        <hr />
       <h4>مراکز درمانی</h4>
        <div>لوکیشن</div>
        <div>روز</div>
        <div>ساعت</div>

</div>



<div class="clinic-block-one">
    <div class="inner-box">
        <div class="pattern">
            <div class="pattern-1" style="background-image: url(assets/images/shape/shape-24.png);"></div>
            <div class="pattern-2" style="background-image: url(assets/images/shape/shape-25.png);"></div>
        </div>
        <figure class="image-box"><img src="assets/images/team/team-1.jpg" alt=""></figure>
        <div class="content-box">
            <div class="like-box"><a href="#"><i class="far fa-heart"></i></a></div>
            <ul class="name-box clearfix">
                <li class="name"><h3><a href="#">{{ field_doctor_name }}</a></h3></li>
                <li><i class="icon-Trust-1"></i></li>
                <li><i class="icon-Trust-2"></i></li>
            </ul>
            <span class="designation">{{ field_doctor_specialty }}</span>
            <div class="text">
                {{ body }}
            </div>
            <div class="rating-box clearfix">
                {{ field_doctor_rating_1 }} 
                <div class="link"><a href="doctors-details.html">دیدن ساعات کاری</a></div>
            </div>
            <div class="location-box">
                <p><i class="fas fa-map-marker-alt"></i>تهران</p>
            </div>
            <div class="btn-box"><a href="doctors-details.html">درخواست ویزیت</a></div>
        </div>
    </div>
</div>