$icomoon-font-family: "icomoon modins" !default;
$icomoon-font-path: "./" !default;

$icomoon-folder: "\e955";
$icomoon-insurance: "\e907";
$icomoon-car: "\e908";
$icomoon-cardiogram: "\e909";
$icomoon-magnifying-glass: "\e90a";
$icomoon-calling: "\e90b";
$icomoon-healthy-life: "\e90c";
$icomoon-car-1: "\e90d";
$icomoon-home-insurance: "\e915";
$icomoon-save-money: "\e921";
$icomoon-online-registration: "\e91c";
$icomoon-guarantee: "\e91d";
$icomoon-medal: "\e91e";
$icomoon-home1: "\e925";
$icomoon-cross: "\e933";
$icomoon-suitcase: "\e92e";
$icomoon-fire1: "\e93a";
$icomoon-wedding-rings: "\e93b";
$icomoon-quote: "\e93c";
$icomoon-group: "\e93d";
$icomoon-life-insurance: "\e93e";
$icomoon-success: "\e93f";
$icomoon-right-arrow2: "\e940";
$icomoon-easy: "\e942";
$icomoon-controls: "\e943";
$icomoon-bonus: "\e944";
$icomoon-right-arrow-1: "\e945";
$icomoon-employees: "\e947";
$icomoon-self-service: "\e948";
$icomoon-meeting1: "\e949";
$icomoon-agreement1: "\e94a";
$icomoon-family: "\e94b";
$icomoon-phone-ringing: "\e944";
$icomoon-team: "\e945";
$icomoon-art: "\e946";
$icomoon-pdf: "\e947";
$icomoon-message: "\e950";
$icomoon-phone-call: "\e951";
$icomoon-placeholder: "\e952";
$icomoon-family-1: "\e953";
$icomoon-right-arrow: "\e908";
$icomoon-right-arrow1: "\e909";
$icomoon-up-arrow: "\e910";
$icomoon-down-arrow: "\e911";
$icomoon-cashback: "\e912";
$icomoon-insurance1: "\e913";
$icomoon-house: "\e914";
$icomoon-drive: "\e916";
$icomoon-home: "\e917";
$icomoon-heart-beat: "\e918";
$icomoon-fire: "\e919";
$icomoon-briefcase: "\e91a";
$icomoon-ring: "\e91b";
$icomoon-plane: "\e91c";
$icomoon-easy-to-use: "\e917";
$icomoon-policy: "\e918";
$icomoon-contract: "\e919";
$icomoon-fund: "\e91a";
$icomoon-telephone: "\e920";
$icomoon-email: "\e921";
$icomoon-telephone-call: "\e922";
$icomoon-pin: "\e929";
$icomoon-cash-flow: "\e924";
$icomoon-profits: "\e925";
$icomoon-insurance-2: "\e926";
$icomoon-select: "\e927";
$icomoon-meeting: "\e928";
$icomoon-agreement: "\e929";
$icomoon-insurance-agent: "\e92a";
$icomoon-tick: "\e92b";
$icomoon-money-back: "\e92c";
$icomoon-computer: "\e935";
$icomoon-chat: "\e936";
$icomoon-file: "\e937";
$icomoon-plus: "\e957";
$icomoon-shield: "\e939";


