@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700&display=swap');
body{
    font-family: 'Vazirmatn', sans-serif !important;
}

/* CSS HEX */


/* SCSS HEX */

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
    font-family: 'Vazirmatn', sans-serif !important;

}
.gavias_sliderlayer .inner.btn-slide, .gavias_sliderlayer .btn-slide a, #gavias_slider_single .inner.btn-slide, #gavias_slider_single .btn-slide a {

  font-family: 'Vazirmatn', sans-serif !important;
}
.persian-text{
    font-family: 'Vazirmatn', sans-serif !important ;

}
.gavias_sliderlayer{
    direction:ltr;
}
.block-dropdown-language .dropbutton-wrapper ul.dropbutton:after{
    float:right;
}
.breadcrumb-content-inner .gva-block-breadcrumb .breadcrumb-links nav.breadcrumb ol li{
float: right;

}
.feature-carousel,.porfolio-carousel,.blog-carousel,.testimonial-main ,.landing-ltr , .ltr-carousel{
    direction:ltr
}
.feature-one__single{
    direction:rtl
}

ul.features-list > li:before{
    margin-right: 0;
    margin-left: 20px;
}
.search-one__content{
    right:auto;
    left:0 !important;

}
.title-line{
    line-height: 2rem;
}
[dir="rtl"] .dropbutton-toggle {
    left: auto !important;
    right: 0 !important;
}
.block-dropdown-language .dropbutton-wrapper ul.dropbutton {
    position: absolute;
    top: -5px;
    right: 0;
    display: inline-block;
    float: right;
    z-index: 9;
    padding: 9px 35px 14px 35px;
}
.block-dropdown-language .dropbutton-wrapper ul.dropbutton:after{
    left:5px !important;
    right: auto;
}
span.language-link.active-language{
    font-family: 'Vazirmatn', sans-serif;

}

.iconbox-seven__content-inner {
    text-align: right;
    padding-right: 20px;
    direction: ltr;
}

/* portfolio */
.portfolio-v1 .arrow {

    left: 0;
    right: auto;
    font-size: 14px;
    border-radius: 10px 0px 0px 10px;
    clip-path: polygon(0% 0%, 45% 0%, 100% 100%, 0% 100%);
    padding-right: 15px;
}
    .portfolio-v1 .content{
    margin-right:30px;
    margin-left: 0;
    padding: 25px 20px 33px 61px;

    }
    
    .fa-arrow-right:before {
        content: "\f060" !important;
    }


    /* Grid float for articles */
    [class*="block-grid-"] > div {
        float: right;
    }
.post-content{
    text-align:right;
}

    /* typography  */
    .gsc-heading__sub-title span:before {
    margin-left: 10px;
    margin-bottom: 5px;
    content: "";
    width: 18px;
    height: 3px;
    display: inline-block;
    background: var(--modins-theme-color);
    z-index: 1;
    border-radius: 5px;
}
.gsc-heading__sub-title span:after {
    display:none;
}


/* page builder elements */
.progress .percentage{
    right:auto;
    left: 1px;
}


/* navigation */
@media (max-width: 1024px) {
.header-one__main-inner{
  flex-direction: row-reverse;
}
}
.menu-bar{
    right:10px;
    left: auto;
    width: 32;
}
.menu-bar span{
  width: 32px;
}

.navigation .gva_menu li a{
    text-align: right !important;
}

.navigation .gva_menu .sub-menu {

    right: 0;
    left: auto;
}
.header-one__left{
  padding-left:5 ;
  padding-right: 20px;
}
.gsc-call-to-action.skin-v1{
  background: url(../images/fun-fact-bg.jpg);
}
#footer{
  background:none !important;
  background-color: #0D0246 !important;
}
#block-hpv-breadcrumbs h2{
  color: aliceblue;
}


.hero-landing{

  border-radius: 25px;
}
/* header */
/* .header-one{
  background: #EFF8FB !important;
  padding-bottom: 10px;
}
.header-one__main-inner.p-relative{
  background-color: #ffffff;
  padding: 10px 25px;
  border-radius: 5px;

}
.topbar__one {
    background: var(--topbar-bg-color);
}
.topbar__one .topbar__content{
  color: #002345;

}
.topbar__content a{
  color: #002345;
}
.navigation .gva_menu > li > a{
  padding: 25px 18px !important;
} */

/* block  */
.block .block-title:before{
    right:0;
    left: auto;
}


.bx-time:before {
    content: "\ec45";
}

.skin-care-blog-card .blog-content .entry-meta li:last-child {
    margin-right: 0;
}
.skin-care-blog-card .blog-content h3 {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Vazirmatn', sans-serif !important ;
    line-height: 1.5;
}
.skin-care-blog-card .blog-content h3 a {
    color: #002345;
}

/* faq */
span.ui-accordion-header-icon {
    display: inline-block;
}
.ui-widget{
    font-family: 'Vazirmatn', sans-serif !important ;

}

.ui-accordion .ui-accordion-content {
    margin-bottom: 30px;
    border: none;
    line-height: 1.8em;

}

.ui-accordion .ui-accordion-header {
    padding: 25px 40px 25px 25px;
    color: #222222;
    position: relative;
    display: block;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: #f6f7f9;
    border: none;
    border-radius: 5px;
}
.ui-accordion h3.ui-state-active {

    background: #e5e7e9;

}
.ui-icon-triangle-1-e {
    background-position: -94px -16px;
}



/* /mobile menu
 */
@media (max-width: 1024px) {
 .gva-offcanvas-mobile .gva-navigation .gva_menu li a .icaret{

    left: 5px;
    right: auto;
 }
}

 .breadcrumb-style.gva-parallax-background{
    background: none !important;
    background-color: #afcbd6 !important;
 }
.breadcrumb-style.gva-parallax-background a{
color: #fff !important;
}

 /* cpanel */
 #customize-gavias-preivew select, #customize-gavias-preivew input{
    direction: ltr;
 }
 .header-one__right {
 }


.card-header{
    border-bottom: none;
    border-radius: 1em;
  }
  .card-header:first-child{
    background: #fff;
  }
  
  form#webform-submission-online-consult-add-form , .webform-ajax-form-wrapper{
    max-width: 640px;
    margin: 0 auto;
    padding-bottom: 100px;
  }
  
  .progress-title {
    display: none;
  }
  .progress-marker{
    &::before{
      border-radius: 0.3rem !important;
      width: 95%;
      font-size: 1px;
    }
  }
  .progress-title{
    display: none;
  }
  .webform-submission-form .form-item  label {
    display: inline;
    color: #333;
  }

  .webform-submission-form .form-item input[type="radio"] + label {
    display: block;
    vertical-align: middle;
    cursor: pointer;
    color: #325343;
    background-color: #a6de9b;
    border-radius: 2rem;
    font-size: 18px;
    padding: 16px 25px 14px;
    line-height: 24px;
}
.webform-submission-form .form-item input[type=radio]:hover + label  {
  background-color: #58ba83 !important;
  color: #fff !important;
}

.webform-submission-form .form-item input[type="radio"]:checked + label:before {
  content: '✓';
}

.webform-submission-form .form-item input[type="radio"]:checked + label{
  background-color: #58ba83;
  color: #fff;
}
.webform-submission-form .form-item input[type="radio"]{
  height: 0;
  width: 0;
  display: none;
}

.mb-3{    margin-bottom: 1rem !important;
  background: #fffcf6;
}
.progress-step.is-active .progress-marker::before {
  background-color: #325343;
}
.webform-progress-tracker .progress-step.is-active:hover .progress-marker::before {
  background-color: #325343;
}

.webform-progress-tracker .progress-step:not(.is-active) , .webform-progress-tracker .progress-step:hover .progress-marker::before {
  background-color: #dce2da;
}
.webform-progress-tracker .progress-step .progress-marker::after{
  display: none;
}

.btn-primary {
    background: #397a4a;
    border-radius: 0.3rem;
    border-color: #397a4a;
}
.webform-submission-form .form-item input{
display: inline;
min-height: 30px;
width: auto;

}
.webform-options-display-buttons label.webform-options-display-buttons-label{
  border: none !important ;
  border-radius: 20px !important;
  color: #325343 !important;
  background-color: #a6de9b !important;
  cursor: pointer;
  font-size: 18px;
  padding: 16px 25px 14px;
}

.webform-options-display-buttons label.webform-options-display-buttons-label:hover{
  color: #fff !important;

}

.webform-options-display-buttons input:checked + label.webform-options-display-buttons-label {
 

}
.webform-button--previous, .webform-button--next {
  width: 48%;
  margin-bottom: 9px;
}
.webform-submission-form .form-actions {
  width: 72%;
  margin: 0 auto;
  float: none;
}

.webform-submission-form .description {
  background: #def6d9;
  color: green;
  padding: 1rem;
  border-radius: 10px;
}

.js-hide.button {
  visibility: hidden;
}
.story-row{
  direction: ltr;
}
.story-image img{
border-radius: 50%;
}
@keyframes o-rotate-360 {
  0% { transform: rotate(0) }

  100% { transform: rotate(360deg) }
}
@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
.field-content.story-image {
  /* background: linear-gradient(90deg, hsla(197, 100%, 64%, 1) 0%, hsla(339, 100%, 55%, 1) 100%); */
  background: linear-gradient(
    60deg,
    hsl(224, 85%, 66%),
    hsl(269, 85%, 66%),
    hsl(314, 85%, 66%),
    hsl(359, 85%, 66%),
    hsl(44, 85%, 66%),
    hsl(89, 85%, 66%),
    hsl(134, 85%, 66%),
    hsl(179, 85%, 66%)
  );
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: 50%;
  padding: 3px;
  /* animation: moveGradient 4s alternate infinite; */

}

.faq-short{
  max-height: 500px;
  overflow-y: scroll;
  background: white;
  padding: 25px 10px;
  border-radius: 1rem;
}

.wrapper.list .clinic-list-content{

  display: block;
}
.clinic-block-one {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.clinic-block-one .inner-box {
  position: relative;
  display: flex;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  padding: 35px 40px 31px 26px;
  margin-bottom: 30px;
  box-shadow: 0 15px 40px 10px #edf1f1;
}
.clinic-block-one .inner-box:hover {
  box-shadow: 9px 9px 30px 10px #edf1f1;
  background: #e2eef1;
  cursor: pointer;
}
.clinic-block-one .inner-box .pattern .pattern-1 {
  position: absolute;
  left: -30px;
  top: 0px;
  width: 254px;
  height: 115px;
  background-repeat: no-repeat;
  opacity: 0;
  transition: all 500ms ease;
}

.clinic-block-one .inner-box .pattern .pattern-2 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 208px;
  height: 104px;
  background-repeat: no-repeat;
  opacity: 0;
  transition: all 500ms ease;
}
.clinic-block-one .inner-box .image-box {

  display: flex;
  border-radius: 20px;
  width: 20%;
}

.clinic-block-one .inner-box .image-box img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0, 24, 73, 0.2);

}

figure {
  margin: 2rem 0rem 2rem 1rem;
}

.content-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  flex-direction: column;
}
.clinic-block-one .inner-box .content-box .like-box {
  position: absolute;
  top: 40px;
  left: 40px;
}
clinic-block-one .inner-box .content-box .like-box a {
  position: relative;
  display: inline-block;
  font-size: 15px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #eaf8f6;
  border-radius: 50%;
  z-index: 1;
}

.clinic-block-one .inner-box .content-box .name-box li {
  position: relative;
  display: inline-block;
  margin-right: 6px;
  font-size: 20px;
}
.clinic-block-one .inner-box .content-box .name-box li h3 {
  position: relative;
  display: block;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
}

.clinic-block-one .inner-box .content-box .name-box li h3 a {
  display: inline-block;
  color: #061a3a;
}
.clinic-block-one .inner-box .content-box .designation {
  position: relative;
  display: block;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 8px;
}
.clinic-block-one .inner-box .content-box .text {
  position: relative;
  margin-bottom: 9px;
}
.clinic-block-one .inner-box .content-box .rating-box {
  position: relative;
  margin-bottom: 5px;
}



/* doctor profile
 */

 .clinic-details-content .tabs-box {
  position: relative;
  display: block;
  background: #fff;
  overflow: hidden;
  border-radius: 10px;
}
.clinic-details-content .tabs-box .tab-btn-box {
  position: relative;
  display: block;
}
.clinic-details-content .tabs-box .tab-btn-box {
  background: #453f85;
}


.doctor-details-content .tabs-box .tab-btn-box .tab-btns li {
  width: 25%;
}

.clinic-details-content .tabs-box .tabs-content {
  position: relative;
  padding: 43px 40px 50px 40px;
}

.tabs-box .tab.active-tab {
  transform: scale(1) translateY(0px);
}
.tabs-box .tab.active-tab {
  display: block;
}
.tabs-box .tab {
  transform: scale(0.9, 0.9) translateY(0px);
}
.tabs-box .tab {
  position: relative;
  display: none;
  transition: all 900ms ease;
  -moz-transition: all 900ms ease;
  -webkit-transition: all 900ms ease;
  -ms-transition: all 900ms ease;
  -o-transition: all 900ms ease;
}





/* doctors new */

/* doctor block two */
.doctor-block-two {
  position: relative;
}

.doctor-block-two .inner-box {
  position: relative;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 10px 10px 30px rgb(0 0 0 / 5%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 210px;
  margin-bottom: 30px;
}

.doctor-block-two .left-column {
  /* padding-left: 166px; */

}

.doctor-block-two .content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px;
}
.doctor-block-two .image {
 display: flex;
  border-radius: 20px;

}

.field.field--name-field-doctor-profile-pic.field--type-image.field--label-hidden.field__item {
  box-shadow: 0 10px 40px rgba(0, 24, 73, 0.2);
  border-radius: 20px;
}
.doctor-block-two img{
  border-radius: 20px;

}

.doctor-block-two h4 {
  font-size: 20px;
  font-family: inherit;
  font-weight: 700;
  margin-bottom: 5px;
}

.doctor-block-two h4 a {
  color: var(--theme_dark);
  transition: .5s;
}

.doctor-block-two h4 a:hover {
  color: var(--theme_primary);
}

.doctor-block-two .designation {
  font-size: 16px;
  font-weight: 500;
  color: var(--theme_dark);
  margin-bottom: 6px;
}

.doctor-block-two .rating {
  position: relative;
  font-size: 13px;
  color: var(--theme_dark);
  margin-bottom: 10px;
}

.doctor-block-two .text {
  position: relative;
  margin: 0;
  line-height: 26px;
}

.doctor-block-two .right-column {
  padding-left: 20px;
  border-left: 1px solid #ddd;
}

.doctor-block-two .list {
  position: relative;
  margin-bottom: 15px;
}

.doctor-block-two .list li {
  position: relative;
  font-size: 16px;
  color: var(--theme_dark);
}

.doctor-block-two .list i {
  margin-right: 10px;
  color: var(--theme_primary);
}

.doctor-block-two .theme-btn {
  padding: 8.5px 10px;
  min-width: 140px;
  vertical-align: middle;
  display: inline-block;
  background: #fff;
  color: var(--theme_dark);
  border: 2px solid #EBF2F3;
}

.doctor-block-two .theme-btn:hover {
  background-color: var(--theme_primary);
  border-color: var(--theme_primary);
  color: #fff;
}

.doctor-block-two .theme-btn:before {
  background-color: var(--theme_primary);
}

.doctor-block-two .like {
  margin-left: 5px;
  width: 45px;
  height: 45px;
  border: 2px solid #EBF2F3;
  border-radius: 5px;
  line-height: 45px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  transition: .5s;
}

.doctor-block-two .like:hover {
  color: #fff;
  background-color: var(--theme_primary);
  border-color: var(--theme_primary);
}

.post-pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 20px;
}

.post-pagination.text-center {
  justify-content: center;
}

.post-pagination li {
  background: #EBF2F3;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 10px;
  margin: 0 5px 10px;
  text-align: center;
}

.post-pagination li.prev i {
  display: inline-block;
  transform: rotate(180deg);
}

.post-pagination li a {
  color: var(--theme_dark);
  display: block;
  transition: .5s;
}

.post-pagination li a:hover,
.post-pagination li .current {
  color: #fff;
  background: var(--theme_primary);
  display: block;
  border-radius: 10px;
}


/* doctor block two */
.doctor-block-three {
  position: relative;
}

.doctor-block-three .inner-box {
  position: relative;
  background: #fff;
  padding: 25px;
  padding-bottom: 30px;
  border-radius: 5px;
  box-shadow: 10px 10px 30px rgb(0 0 0 / 5%);
  min-height: 210px;
  margin-bottom: 30px;
}

.doctor-block-three .inner-box .overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: .7s;
  padding: 30px 25px;
  background: #fff;
  transform: scaleY(.9) translateY(20px);
  transform-origin: top;
}

.doctor-block-three .inner-box:hover .overlay {
  opacity: 1;
  transform: scale(1);
}

.doctor-block-three .image {
  position: relative;
  margin-bottom: 30px;
}

.doctor-block-three h4 {
  font-size: 20px;
  font-family: inherit;
  font-weight: 700;
  margin-bottom: 5px;
}

.doctor-block-three h4 a {
  color: var(--theme_dark);
  transition: .5s;
}

.doctor-block-three h4 a:hover {
  color: var(--theme_primary);
}

.doctor-block-three .designation {
  font-size: 16px;
  font-weight: 500;
  color: var(--theme_dark);
  margin-bottom: 6px;
}

.doctor-block-three .rating {
  position: relative;
  font-size: 13px;
  color: var(--theme_dark);
  margin-bottom: 10px;
}

.doctor-block-three .text {
  position: relative;
  margin: 0 0 0;
  line-height: 26px;
}

.doctor-block-three .right-column {
  width: 30%;
  padding-left: 20px;
  border-left: 1px solid #ddd;
}

.doctor-block-three .list {
  position: relative;
  margin-bottom: 15px;
}

.doctor-block-three .list li {
  position: relative;
  font-size: 16px;
  color: var(--theme_dark);
}

.doctor-block-three .list i {
  margin-right: 10px;
  color: var(--theme_primary);
}

.doctor-block-three .theme-btn {
  padding: 8.5px 10px;
  min-width: 140px;
  vertical-align: middle;
  display: inline-block;
  background: #fff;
  color: var(--theme_dark);
  border: 2px solid #EBF2F3;
  width: calc(100% - 55px);
}

.doctor-block-three .theme-btn:hover {
  background-color: var(--theme_primary);
  border-color: var(--theme_primary);
  color: #fff;
}

.doctor-block-three .theme-btn:before {
  background-color: var(--theme_primary);
}

.doctor-block-three .like {
  margin-left: 5px;
  width: 45px;
  height: 45px;
  border: 2px solid #EBF2F3;
  border-radius: 5px;
  line-height: 45px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  transition: .5s;
}

.doctor-block-three .like:hover {
  color: #fff;
  background-color: var(--theme_primary);
  border-color: var(--theme_primary);
}

/* doctor block four */
.doctor-block-four {
  position: relative;
}

.doctor-block-four .inner-box {
  position: relative;
  background: #fff;
  padding: 35px;
  padding-left: 385px;
  border-radius: 5px;
  box-shadow: 10px 10px 30px rgb(0 0 0 / 5%);
  min-height: 422px;
  margin-bottom: 60px;
}

.doctor-block-four .image {
  position: absolute;
  top: 35px;
  left: 35px;
}

.doctor-block-four h3 {
  font-size: 30px;
  font-family: inherit;
  font-weight: 700;
  padding-top: 7px;
}

.doctor-block-four h4 {
  font-size: 20px;
  font-family: inherit;
  font-weight: 700;
  margin-bottom: 10px;
}

.doctor-block-four h4 a {
  color: var(--theme_dark);
  transition: .5s;
}

.doctor-block-four h4 a:hover {
  color: var(--theme_primary);
}

.doctor-block-four .designation {
  font-size: 16px;
  font-weight: 500;
  color: var(--theme_dark);
  margin-bottom: 6px;
}

.doctor-block-four .rating {
  position: relative;
  font-size: 13px;
  color: var(--theme_dark);
  margin-bottom: 10px;
}

.doctor-block-four .text {
  position: relative;
  margin: 0;
  line-height: 26px;
}

.doctor-block-four .right-column {
  width: 30%;
  padding-left: 20px;
  border-left: 1px solid #ddd;
}

.doctor-block-four .list {
  position: relative;
}

.doctor-block-four .list li {
  position: relative;
  font-size: 16px;
  color: var(--theme_dark);
}

.doctor-block-four .list i {
  margin-right: 10px;
  color: var(--theme_primary);
}

.doctor-block-four .link-btn a {
  margin-top: 10px;
}

.doctor-block-four .theme-btn.phone-number {
  padding: 8.5px 20px;
  min-width: 140px;
  vertical-align: middle;
  display: inline-block;
  background: #fff;
  color: var(--theme_dark);
  border: 2px solid #EBF2F3;
}

.doctor-block-four .theme-btn.phone-number i {
  transform: rotate(90deg);
  color: var(--theme_primary);
  margin-right: 10px;
  font-size: 15px;
}

.doctor-block-four .theme-btn.phone-number:hover i {
  color: #fff;
}

.doctor-block-four .theme-btn.phone-number:hover {
  background-color: var(--theme_primary);
  border-color: var(--theme_primary);
  color: #fff;
}

.doctor-block-four .theme-btn.phone-number:before {
  background-color: var(--theme_primary);
}

.doctor-block-four .theme-btn {
  padding: 10.5px 20px;
  margin-right: 10px;
}

.doctor-block-four .theme-btn i {
  top: 0px;
}

.doctor-block-four .share-links {
  position: absolute;
  top: 0; 
  right: 0;
}

.doctor-block-four .share-links a {
  margin-left: 5px;
  width: 45px;
  height: 45px;
  border: 2px solid #EBF2F3;
  border-radius: 5px;
  line-height: 45px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  transition: .5s;
}

.doctor-block-four .share-links a:hover {
  color: #fff;
  background-color: var(--theme_primary);
  border-color: var(--theme_primary);
}

.doctor-block-four .content-row {
  position: relative;
  border-bottom: 1px solid #EBF2F3;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.doctor-details {
  position: relative;
  padding: 110px 0 80px;
}

.doctor-details .tabs-box .tabs-content{
position:relative;
}

.doctor-details .tabs-content .tab{
position:absolute;
left: 0;
right: 0;
top: 0;
z-index:1;
transition:all 0.7s ease;
-moz-transition:all 0.7s ease;
-webkit-transition:all 0.7s ease;
-ms-transition:all 0.7s ease;
-o-transition:all 0.7s ease;
-webkit-transform: scale(0.9,0.9);
transform: scale(0.9,0.9) translateY(0px);
opacity: 0;
visibility: hidden;
}

.doctor-details .tabs-content .tab.active-tab{
position:relative;
z-index:5;
transform: scale(1);
opacity: 1;
visibility: visible;
}

.doctor-details .content__block .tabs-box {
  position: relative;
}

.doctor-details .content__block ul.tab-btns {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.doctor-details .content__block ul.tab-btns li.tab-btn {
  margin-right: 15px;
  color: var(--theme_dark);
  margin-bottom: 20px;
  text-transform: capitalize;
  font-weight: 700;
  cursor: pointer;
  transition: .5s;
  background: #EBF2F3;
  border-radius: 5px;
  padding: 6px 30px;
  font-size: 16px;
}

.doctor-details .content__block ul.tab-btns li.tab-btn.active-btn {
  background-color: var(--theme_primary);
  color: #fff;
}

.doctor-details .tabs-box ul.tab-btns {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.doctor-details .tabs-box ul li.tab-btn {
  position: relative;
  border-right: 1px solid #ECECEC;
  width: 20%;
  text-align: center;
  background: #fff;
  box-shadow: 10px 10px 30px rgb(0 0 0 / 5%);
  padding: 25px 0 23px;
  border-bottom: 2px solid transparent;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.doctor-details .tabs-box ul li.tab-btn.active-btn {
  border-bottom-color:var(--theme_primary);
}

.doctor-details .tabs-box .tabs-content h3 {
  position: relative;
  font-size: 25px;
  font-weight: 700;
  font-family: inherit;
  margin-bottom: 30px;
}

.doctor-details .tabs-box .tabs-content h4 {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  font-family: inherit;
  margin-bottom: 30px;
}

.doctor-details .tabs-box .tabs-content .text {
  margin-bottom: 40px;
  color: var(--theme_dark);
}

.doctor-details .tabs-box .tabs-content .list {
  position: relative;
  margin-bottom: 15px;
}

.doctor-details .tabs-box .tabs-content .list li {
  font-size: 16px;
  font-weight: 500;
  color: var(--theme_dark);
  margin-bottom: 15px;
}

.doctor-details .location-contact .content {
  position: relative;
  border: 1px solid #ddd;
  border-left: 0;
  padding: 45px 35px 35px;
}

.doctor-details .location-contact .contact-info {
  position: relative;
  margin-bottom: 30px;
}

.doctor-details .location-contact .contact-info li {
  position: relative;
  padding-left: 30px;
  font-size: 16px;
}

.doctor-details .location-contact .contact-info i {
  position: absolute;
  top: 8px;
  left: 0;
  font-size: 18px;
  color: var(--theme_primary);
}

.doctor-details .location-contact .contact-info a {
  color: var(--theme_dark);
}

.doctor-details .hospital-list {
  position: relative;
}

.doctor-details .hospital-list li {
  position: relative;
  font-size: 16px;
  color: var(--theme_dark);
  padding-left: 45px;
  margin-bottom: 22px;
}


.doctor-details .hospital-list li span {
  position: absolute;
  top: -2px;
  left: 0;
  width: 35px;
  height: 35px;
  background: rgb(0 172 177 / 10%);
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 700;
}

.doctor-details .location-contact {
  position: relative;
  margin-bottom: 30px;
}

.doctor-details .experience table {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
  border: 2px solid #E8E8E8;
  border-radius: 5px;
}

.doctor-details .experience table tr {
  position: relative;
  border-bottom: 2px solid #E8E8E8;
}

.doctor-details .experience table td {
  position: relative;
  padding: 14px 30px;
  width: 50%;
}

.doctor-details .accordion-box .block .acc-btn {
  color: var(--theme_dark);
}

.doctor-details .accordion-box .block {
  margin-bottom: 0;
  padding: 20px 0;
  border-bottom: 2px solid #E8E8E8;
}

.doctor-details .accordion-box .block:last-child {
  border-bottom: 0;
}

.doctor-details .accordion-box {
  border: 2px solid #E8E8E8;
  border-radius: 10px;
  margin-bottom: 30px;
}

.doctor-details .accordion-box .block .acc-content {
  padding: 0 35px;
  border-top: 2px solid #E8E8E8;
  margin-top: 20px;
}

.doctor-details .accordion-box .block .content {
  margin-top: 20px;
}

.doctor-details .accordion-box .block .content .text {
  margin: 0;
}

/* Patient review */

.patient-review .review-area {
  position: relative;
}

.patient-review .review-area .review-box {
  position: relative;
  border: 2px solid #E8E8E8;
  padding: 25px 33px;
  padding-left: 145px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.patient-review .review-area .review-box .author-thumb {
  position: absolute;
  top: 25px;
  left: 33px;
}

.patient-review .review-area .review-box .name {
  position: relative;
  font-size: 20px;
  color: var(--theme_dark);
  font-weight: 700;
}

.patient-review .review-area .review-box .info {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

.patient-review .review-area .review-box .rating {
  font-size: 12px;
  color: var(--theme_dark);
  margin-left: 20px;
  margin-right: 8px;
}

.patient-review .review-area .review-box .info span {
  position: relative;
  font-size: 16px;
  color: var(--theme_dark);
}

.patient-review .review-area .review-box .review-date {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 15px;
  color: var(--theme_dark);
}

.patient-review .review-area .review-box .text {
  margin-bottom: 0;
}

.patient-review .link-btn {
  position: relative;
  margin-bottom: 30px;
}

.patient-review .theme-btn {
  padding: 8.5px 10px;
  min-width: 140px;
  vertical-align: middle;
  display: inline-block;
  background: #fff;
  color: var(--theme_dark);
  border: 2px solid #EBF2F3;
}

.patient-review .theme-btn:hover {
  background-color: var(--theme_primary);
  border-color: var(--theme_primary);
  color: #fff;
}

.patient-review .theme-btn:before {
  background-color: var(--theme_primary);
}

.patient-review .theme-btn i {
  margin-left: 7px;
  top: 1px;
}



/* gallery .story-image */
.gallery-post .item-image{
  border-radius: 50%;
}

.gallery-post .item-image:after {
  transition: none;
}
.story .images img {
  -webkit-transition: all 5s;

  /* background: linear-gradient(90deg, hsla(197, 100%, 64%, 1) 0%, hsla(339, 100%, 55%, 1) 100%); */
  background: linear-gradient(
    60deg,
    hsl(224, 85%, 66%),
    hsl(269, 85%, 66%),
    hsl(314, 85%, 66%),
    hsl(359, 85%, 66%),
    hsl(44, 85%, 66%),
    hsl(89, 85%, 66%),
    hsl(134, 85%, 66%),
    hsl(179, 85%, 66%)
  );
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: 50%;
  padding: 3px;
  animation: moveGradient 4s alternate infinite;

};

.landing-cta .gsc-call-to-action.skin-v1 .content-inner, .gsc-call-to-action.skin-v1 .content-inner{

  text-align: right !important;
}
.gsc-call-to-action.skin-v1 .content{
  padding: 20px;
  text-align: right;
}
.landing-cta .button-action{
  width: 60%;
  margin: 0 auto;
  
}
.landing-cta .btn-white{
  width: 60%;
  text-align: center;
}

.image-content-seven__image:before{

background: url("../images/24-7.png") no-repeat center center;  
}

.image-content-seven__image:before{
  animation: animation_top_bottom 6.5s linear 0s infinite;
}


/* topbar */
.topbar-social {
  margin-right: 30px;
  background: rgba(0, 0, 0, 0.1);
  padding: 3px 20px;
}
.topbar-social a + a {
  margin-right: 20px;
  margin-left:0 ;
}
.topbar-social a {
  font-size: 20px;
}
.topbar__one {
  background: #eff8fb !important;
}


.round-it{
  border-radius: 20px !important;
}
/*================================================
Top Header Area CSS
=================================================*/
.top-header-area {
  background:linear-gradient(90deg, hsla(197, 100%, 64%, 1) 0%, hsla(339, 100%, 55%, 1) 100%);;
  -webkit-box-shadow: 0px 4px 30px 0px rgba(146, 139, 221, 0.1);
          box-shadow: 0px 4px 30px 0px rgba(146, 139, 221, 0.1);
}

.top-header-area .container-fluid, .top-header-area .container-sm, .top-header-area .container-md, .top-header-area .container-lg, .top-header-area .container-xl, .top-header-area .container-xxl {
  padding-left: 30px;
  padding-right: 30px;
}

.top-header-area p {
  font-size: 20px;
  margin-left: 5px;
  color: #fff;
  padding-top: 10px;
  text-align: center;
}
.region__topbar{
  justify-content: center !important;
}


.slide-cta {
  background-color: #020D2B;
  color: #fff !important;
  border-radius: 15px;
  padding: 5px 29px 6px 19px !important;
  cursor: pointer;
}
.slide-cta:hover{
background:#47cbff ;
cursor: pointer;

}
.slide-cta a{

color:#fff;
}
.main-cta-text.style-white {
  padding: 2rem;
  background: rgba(255, 255, 255, 0.3);
  margin: 0.5rem;
  border-radius: 20px;
  /* margin-bottom: -18rem; */
  color:#020D2B;

}
.second-cta-text.style-white {
  font-size: 20px;
  color:#fff;
  line-height: 24px;
  
}