<article class="testimonial-four__single">      
   <div class="testimonial-four__content">
      <div class="testimonial-four__quote">{{ fields.body.content|striptags|trim }}</div> 
      <div class="testimonial-four__meta">
         <div class="testimonial-four__avatar">
            {{ fields.field_testimonial_avatar.content }}
         </div>  
         <div class="testimonial-four__info">
            <h3 class="testimonial-four__name">{{ fields.field_testimonial_name.content }}</h3>
            <div class="testimonial-four__job">{{ fields.field_testimonial_job.content }}</div>   
         </div>
         <span class="arrow"></span>
      </div> 
   </div>
</article>
  